
<h4>Login</h4>

<%= form_tag sessions_path do %>
  <table>
    <tr>
      <th>
        Email:
      </th>
      <th>
        <%= text_field_tag :email %>
      </th>
    </tr>
    <tr>
      <th>
        Password:
      </th>
      <th>
        <%= password_field_tag :password %>
      </th>
    </tr>
  </table>
  <%= submit_tag "Submit" %>
<% end %>