<body>

<!-- page content -->
<div class="content">
</div>
<h3>You are in basic view</h3>
<h5>Login to access the full view</h5>

<table>

  <tr class="label-row">
    <th>Common Name</th>
    <th>Classification</th>
    <th>Image</th>
  </tr>
  <% @plants.each do |plant| %>
    <tr>
    <th>
      <%= plant.common_name %>
    </th>
      <th>
        <%= plant.classification %>
      </th>
    <th>
      <img class='content-image' src=<%= plant.image_seedpod %>/>
    </th>
  </tr>
  <% end %>
</table>
</body>
</html>