<!--<body>-->

<!-- page content -->
<!--<div class="content">-->
<!--</div>-->
<!--<h3>You are in basic view</h3>-->
<!--<h5>Login to access the full view</h5>-->

<!--<table>-->
<!--  <tr>-->
<!--    <th><%#= @plant_name %>-->
<!--    </th>-->
<!--    <th><img src=<%#= @plant_img %>/>-->
<!--    </th>-->
<!--  </tr>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->