<h1>Add New Plant</h1>

<%= form_with(url: create_plant_path, method: "post") do %>
  <label>
    <input type="text" name="classification" placeholder="Edible, Weed, Ornamental" autofocus>
  </label>
  <label>
    <input type="text" name="common_name" placeholder="Common Name">
  </label>
  <label>
    <input type="text" name="scientific_name" placeholder="Scientific Name">
  </label>
  <label>
    <input type="text" name="image_mature" placeholder="URL of mature plant">
  </label>
  <label>
    <input type="text" name="image-seedpod" placeholder="URL of seedpod image">
  </label>
  <label>
    <input type="text" name="origin" placeholder="Origin">
  </label>
  <label>
    <input type="text" name="australian_growing_zone" placeholder="Aus Growing Zone">
  </label>
  <label>
    <input type="text" name="predators" placeholder="Predators">
  </label>
  <label>
    <input type="text" name="palatability" placeholder="Palatability">
  </label>
  <label>
    <input type="text" name="toxicity" placeholder="Toxicity">
  </label>
  <label>
    <input type="text" name="control" placeholder="Control">
  </label>
  <label>
    <input type="text" name="notes" placeholder="Notes">
  </label>
  <label>
    <input type="text" name="external_link" placeholder="External Links">
  </label>
  <button>Add Plant</button>

<% end %>