<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Plant Lexicon</title>
</head>

<body>
<!-- page content -->
<div class="content">
</div>
<h3>You are logged into the basic view</h3>
<p>Click on a plant name to go to a detailed view of that plant</p>


<table id="lexicon">
  <tr class="label-row">
    <th><h4>Plant Name</h4></th>
    <th><h4>Fully Grown Plant</h4></th>
    <th><h4>Seed Pod</h4></th>

  </tr>
    <% @plants.each do |plant| %>
    <tr>
      <th>
        <%= link_to plant.common_name, loggedin_detailed_path(plant[:id]) %>
      </th>
      <th>
        <img class='content-image' src=<%= plant.image_mature %>/>
      </th>
      <th>
        <img class='content-image' src=<%= plant.image_seedpod %>/>
      </th>
  </tr>
  <% end %>
</table>

</body>
</html>